/* RANDOM QUOTE GENERATOR */
@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap"); /* BASIC BODY STYLING */

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #222;
}

h2 {
  font-weight: lighter;
}

.container {
  background-color: #333;
  padding: 20px;
  text-align: center;
  width: 50%;
  font-size: 80%;
  color: #f9f9f9;
  /* border-radius: 10px; */
}

#quoteDisplay {
  text-align: center;
  font-weight: lighter;
  font-size: 180%;
  padding: 30px;
}

.my-button {
  background: #222;
  border: 0px;
  text-transform: uppercase;
}

.jumbotron {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
}
